# Data Science Tools and Ecosystem

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. C++
6. Scala

**Objectives**:
- Types of Libraries
- Common Data Science Tools
- Common expressions in Python

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. pandas
3. numpy
4. seaborn

| Data Science Tools       |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| Apache Zeppelin          |

### Below are a few examples of evaulating arithmetic expressions in Python

In [18]:
# This a simple arithmetic expression to mutiply then add integers.

(3*4)+5

17

In [20]:
#this will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes/ 60
print(hours)

3.3333333333333335

## Author: Wangari